node_modules/
.env

# Next.js files (not used in this project)
.next/
.zscripts/
next-env.d.ts
dev.log

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db


# Cocos Creator 构建缓存
nclient/library/
nclient/local/
nclient/temp/

# 编译产物
server/bin/server
*.exe
